# -- Developer --------------------------------------------
/workbench
/app/Providers/BookingServiceProvider.php
/app/Providers/CmsServiceProvider.php
/app/Providers/ComunikServiceProvider.php
/app/Providers/CrmServiceProvider.php
/app/Providers/FormsServiceProvider.php
/app/Providers/HotelsServiceProvider.php
/app/Providers/MarketServiceProvider.php
/app/Providers/FetchServiceProvider.php
/app/Providers/LangLocaleServiceProvider.php
/app/Providers/OctopusServiceProvider.php
/app/Providers/ShoppingCartServiceProvider.php
/app/Providers/SpasServiceProvider.php
/app/Providers/WineriesServiceProvider.php
/app/Providers/ProjectsServiceProvider.php
/app/Providers/PulsarServiceProvider.php
/app/Providers/FacturaDirectaServiceProvider.php


# -- Web --------------------------------------------
/public/packages/


# -- Pulsar -----------------------------------------
/config/api.php
/config/projects.php
/config/facturaDirecta.php
/config/cms.php
/config/crm.php
/config/comunik.php
/config/cron.php
/config/forms.php
/config/hotels.php
/config/spas.php
/config/wineries.php
/config/vinipad.php
/config/booking.php
/config/navTools.php
/config/shoppingCart.php
/config/market.php
/config/excel.php
/config/googleApi.php
/config/pulsar.php

/tests/shopping_cart_tests_helpers/
/tests/ShoppingCartProviderTest.php
/tests/PulsarTest.php

/database/factories/PulsarModelFactory.php

/resources/lang/en/validation.php
/resources/lang/es/validation.php

/storage/exports/

composer.dev.lock

# -- Laravel -----------------------------------------
Homestead.yaml
Homestead.json
.env
!/database/
/database/migrations/*
!/database/migrations/
/database/seeds/*
!/database/seeds/

# -- Composer -----------------------------------------
composer.phar
composer.lock
composer.server.lock
/vendor/

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
!.gitignore
!.gitkeep
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
